@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #9b9b9b;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

header {
  height: 80px;
  width: 100%;
  max-width: 100%;

  background-color: #00796b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .logo {
  cursor: pointer;
}

header .opcoes button {
  background: none;
  border: none;
  cursor: pointer;
}

header .opcoes button a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

section.principal {
  min-height: 77.6vh;
  display: flex;
  align-items: center;
}

section.principal .container h1 {
  color: #00796b;
  font-size: 60px;
  font-weight: 900px;
  margin: 40px 0;
  padding: 0;
}

section.principal .container .titulo_sobre {
  color: #00796b;
  font-size: 24px;
}

section.principal .container ol {
  padding: 0px 30px;
  font-size: 24px;
}

section.principal .container .bloco_central {
  max-width: 100;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

section.principal .container .materia_principal {
  width: 50%;
}

section.principal .container .imagem_principal {
  width: 50%;
}

section.principal .container .imagem_principal img {
  width: 100%;
}

section.principal .container .materia_principal.servicos {
  padding: 0 50px;
}

section.principal .container .materia_principal .titulo {
  color: #009688;
  font-size: 40px;
}

section.principal .container p {
  text-align: justify;
  font-size: 24px;
}

section.video {
  margin: 50px auto;
}

section.video .container {
  display: flex;
  justify-content: center;
}

section.video .container iframe {
  width: 728px;
  height: 409.5px;
}

section.principios .container {
  text-align: center;
  font-size: 24px;
}

section.principios .container h3 {
  color: #009688;
}

section.principal .container h2 {
  font-size: 40px;
  font-weight: 900;
  color: #009688;
  margin: 40px 0 0;
  padding: 0;
}

section.principal .container .bloco_central .contato {
  width: 50%;
}

section.principal .container .bloco_central .contato form {
  width: 90%;
}

section.principal .container .bloco_central .contato form input,
section.principal .container .bloco_central .contato form textarea {
  width: 100%;
  padding: 7px;
  margin: 2px 0;
  resize: none;
}

section.principal .container .bloco_central .contato form textarea {
  padding: 30px;
}

section.principal .container .bloco_central .contato form button {
  padding: 10px 20px;
  margin: 6px 0;
  background-color: #009688;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.chamar_e_localizacao .chamar p {
  font-size: 20px;
}

.chamar_e_localizacao .chamar p a {
  color: #009688;
  text-decoration: none;
}

.mapa iframe {
  width: 512px;
  height: 216px;
  max-width: 100%;
  border: none;
  border-radius: 30px;
}

footer {
  background-color: #c4c4c4;
  width: 100%;
  height: 60px;
  max-width: 100%;
  max-height: 100%;
}

footer .container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

footer h3 {
  font-size: 20px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

@media (max-width: 800px) {
  section.principal .container .materia_principal {
    width: 100%;
  }
  section.principal .container .imagem_principal {
    width: 100%;
  }
  section.principal .container .bloco_central.inverso {
    flex-wrap: wrap-reverse;
  }
}
